<p id="notice"><%= notice %></p>

<h1>Listing Custumers</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Birthday</th>
      <th>Avatar</th>
      <th>Rate</th>
      <th>Phonenumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custumers.each do |custumer| %>
      <tr>
        <td><%= custumer.userId %></td>
        <td><%= custumer.birthday %></td>
        <td><%= custumer.avatar %></td>
        <td><%= custumer.rate %></td>
        <td><%= custumer.phoneNumber %></td>
        <td><%= link_to 'Show', custumer %></td>
        <td><%= link_to 'Edit', edit_custumer_path(custumer) %></td>
        <td><%= link_to 'Destroy', custumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custumer', new_custumer_path %>
