<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @custumer.userId %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @custumer.birthday %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @custumer.avatar %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @custumer.rate %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @custumer.phoneNumber %>
</p>

<%= link_to 'Edit', edit_custumer_path(@custumer) %> |
<%= link_to 'Back', custumers_path %>
