<p id="notice"><%= notice %></p>

<h1>Listing Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Carplate</th>
      <th>Birthday</th>
      <th>Licensed</th>
      <th>Licensednumber</th>
      <th>Avatar</th>
      <th>Rate</th>
      <th>Phonenumber</th>
      <th>Cityid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.userId %></td>
        <td><%= driver.carPlate %></td>
        <td><%= driver.birthday %></td>
        <td><%= driver.licensed %></td>
        <td><%= driver.licensedNumber %></td>
        <td><%= driver.avatar %></td>
        <td><%= driver.rate %></td>
        <td><%= driver.phoneNumber %></td>
        <td><%= driver.cityId %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
