<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @driver.userId %>
</p>

<p>
  <strong>Carplate:</strong>
  <%= @driver.carPlate %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @driver.birthday %>
</p>

<p>
  <strong>Licensed:</strong>
  <%= @driver.licensed %>
</p>

<p>
  <strong>Licensednumber:</strong>
  <%= @driver.licensedNumber %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @driver.avatar %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @driver.rate %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @driver.phoneNumber %>
</p>

<p>
  <strong>Cityid:</strong>
  <%= @driver.cityId %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
