<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @province.initials %>
</p>

<p>
  <strong>Country:</strong>
  <%= @province.country.name %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
